@media (min-width: 1178px) {
    header {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .fullPage {
        grid-template-columns: 320px 1fr 1fr;
    }
}

@media (min-width: 713px) and (max-width: 1177px) {
    header {
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }
    .fullPage {
        grid-template-columns: 1fr 1fr;
    }
    figure#fig {
        grid-column: 1 / -1;
    }
}

@media (max-width: 712px) {
    header > span {
        font-size: 16px;
    }
    header {
        padding: 10px;
    }
    .fullPage {
        grid-template-columns: 1fr;
        padding: 0 12px;
    }
    .formClaster {
        margin: 16px auto;
        padding: 16px;
        width: 100%;
        box-sizing: border-box;
    }
    .points-table table {
        min-width: 300px;
        width: 100%;
    }
    .points-table {
        overflow-x: auto;
    }
    .button-group {
        flex-wrap: wrap;
        justify-content: center;
    }
    .button {
        flex: 1 1 auto;
        min-width: 50px;
    }
}